.products{
    background-color: #ffffff;
    .produt_wrapper{
        width: 90%;
        margin: auto;
        padding-bottom: 6rem;
        .latest_product{
            h2{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
        
        img{
            width: 100%;
            height: auto;
        }
        .product{
            h2{
                font-size: 22px;
                span{
                    color: #bfc1c7;
                    text-transform: uppercase;
                    margin-left: 25px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            p{
                font-size: 15px;
            }
            .read_more_wrapper{
                margin-bottom: 3rem;
                position: relative;
                a{
                    text-decoration: none;
                }
                .read_more{
                    
                    font-size: 13px;
                    font-weight: 600;
                    color: #81848f;
                    text-transform: uppercase;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: 25%;
                    width: 15px;
                    height: 2px;
                    background-color: #17bed2;
                }
            }
            
        }
    }
    

    .text_container{
        h2{
            color: #515769;
            font-weight: 700;
        }
        p{
            color: #a6a7aa;
            font-weight: 400;
        }
    }
}