.about_container {
  padding-bottom: 3rem;
  .container {
    padding: 5rem 1rem 0;
  }
  h2 {
    font-size: 2rem;
    color: #515769;
    font-weight: 700;
  }
  p {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
  }
  .img_container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      height: auto;
    }
    .art_coding {
      .text_container {
        padding-bottom: 3rem;
      }
    }
  }
  .amazing_support {
    padding: 80px 0;
  }
  .why_us {
    padding-top: 80px;
    background: #fafafa;
    padding-bottom: 5rem;
    .why_us_container {
      width: 90%;
      margin: auto;
      padding-bottom: 3rem;
      .text_container {
        padding: 30px 0;
      }
      .expore_button_container {
        margin: 20px 0;
        .explore_button {
          background-color: #515769;
          color: #ffffff;
          padding: 15px 40px;
          font-size: 0.8rem;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
    }
    .advantages_container{
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: auto;
    }
  }
}
