.advantage{ 
    background: #ffffff;
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 2rem;
    .advantage_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 25px;
        h2{
            font-size: 1.5rem;    
        }   
        p{
            display: none;
        }
    }
    
}
