.about_container {
  font-family: Hind, sans-serif;

  .container {
    padding: 5rem 1rem 0;
  }
  h2 {
    font-size: 2rem;
    color: #515769;
    font-weight: 700;
  }
  p {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
  }
  .img_container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      height: auto;
    }
    .art_coding {
      .text_container {
        padding-bottom: 3rem;
      }
    }
  }
  .amazing_support {
    padding: 80px 0;
  }
  .why_us {
    padding-top: 80px;
    background: #fafafa;
    .why_us_container {
      padding: 4rem 1rem 0;
      margin-bottom: 2rem;
      .text_container {
        padding: 30px 0;
      }
      .expore_button_container {
        .explore_button {
          background-color: #515769;
          color: #ffffff;
          padding: 15px 30px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
}
