@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css");
@import "~bootstrap/scss/bootstrap";
body {
  margin: 0;
  font-family: Hind,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}
html{
  padding: 0;
  margin: 0;
}

.w-96{
  width: 96%!important;
}

//Bootstrap overwrite

.container{
  padding: 0!important;
  margin: 0;
}
.card{
  border: none;
}
/* .row{
  margin: 0;
}

div[class*="col"]{
  padding-left: 0;
  padding-right: 0;
} */