h2{
    font-size: 22px;
    font-weight: 700;
    color: #515769;
    line-height: 1.4;
}
p{
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
}

span{
    font-size: 14px;
    font-weight: 400;
    color: #bfc1c7;
}